@using Microsoft.EntityFrameworkCore
@model WebApplication2.Controllers.ClassResultVm

@{
    ViewData["Title"] = "Harjutused";
}
<div style="margin: 10px">
<button class="btn panel-primary" id="lastyear">Viimase aasta tulemused</button>
<button class="btn panel-primary" id="lasthalfyear">Viimase 6 kuud tulemused</button>
<button class="btn panel-primary" id="all">Kõik tulemused</button>
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

@* <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> *@
<table  class="table table-striped table-bordered nowrap" style="width: 100%">
    <thead>
    <tr>
        <th>Kuupäev</th>
        <th>Tulemused</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var date in Model.Dates)
    {
        <tr>
            <td>
                <p>@date.Date.ToShortDateString()</p>

            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("ResultInDay", new {date = @date.Date, exerciseId = @Model.SelectedExerciseId, ClassId = @Model.ClassId})">Vaata </a>

            </td>
        </tr>
    }
    </tbody>
</table>
<script>
    dosomething();
    $("#lastyear" ).on( "click", function() {
        var date = new Date();
        date.setFullYear( date.getFullYear() - 1 );
        dosomething(date.toJSON());
    });
    $("#lasthalfyear" ).on( "click", function() {
        var date = new Date();
        date.setMonth( date.getMonth()- 6 );
        dosomething(date.toJSON());
    });
    $("#all" ).on( "click", function() {
        dosomething();
    });
    function dosomething(dateTime) {
        $.getJSON("/SchoolClasses/GetSchoolClassResults", {
                classId:"@Model.ClassId",
                exerciseId:"@Model.SelectedExerciseId",
                dateTime:dateTime
            },
            function(data) {
                var chart =  Highcharts.chart('container',
                    {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: data.exerciseName
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            categories: data.dates
                        },
                        yAxis: {
                            title: {
                                text: data.unit
                            }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                },
                                enableMouseTracking: true
                            }
                        }
                    });
                for (var i = 0; i < data.tulemused.names.length; i++) {
                    chart.addSeries({                        
                        name: data.tulemused.names[i],
                        data: data.tulemused.values[i]
                    },false);
                }
                chart.redraw(); 
            });
    };

</script>

