@model WebApplication2.Controllers.ClassResultVm
@{
    ViewData["Title"] = "Harjutused";
}

Vali harjutus :
@foreach (var exercise in Model.Exercises)
{
@*     <a  asp-action="ClassResults" asp-route-exerciseId="@exercise.Id"> *@
@*         <p>@exercise.Name </p>  *@
@*     </a> *@
    <div class="row">
        <div class="col">
            <a style="margin-top: 10px"class="btn btn-info" href="@Url.Action("ClassResults", new {exerciseId = @exercise.Id, ClassId = @Model.ClassId})">@exercise.Name</a>
        </div>
    </div>
}