@using Core.Data.Entities
@using WebApplication2.Data.Entities
@model WebApplication2.ViewModels.Results.ResultVm
@{
    ViewData["Title"] = "Õpilased";
}
<div class="row-12">
    <h2 class="text-center">Vali klass</h2>
</div>
<table  class="table table-striped table-bordered nowrap" style="width: 100%">
    <thead>
    <tr>
        <th>Poisid</th>
        <th>Tüdrukud</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var exercise in Model.Classes)
    {
                 var manId = (int) Gender.Man;
                var womanId = (int) Gender.Woman;
        <tr>
            <td>
                <form asp-action="AddResult" asp-controller="Result" method="get">
                    <input type="hidden" name="SelectedExerciseId" value="@Model.ExerciseId"/>
                    <input type="hidden" name="ClassId" value="@exercise.Id"/>
                    <input type="hidden" name="gender" value="@manId"/>

                    <button style="margin-top: 10px" class="btn btn-primary" type="submit">@exercise.Name</button>
                </form>
            </td>
            <td>

                <form asp-action="AddResult" asp-controller="Result" method="get">
                    <input type="hidden" name="SelectedExerciseId" value="@Model.ExerciseId"/>
                    <input type="hidden" name="ClassId" value="@exercise.Id"/>
                    <input type="hidden" name="gender" value="@womanId"/>
                    <button style="margin-top: 10px"class="btn btn-primary" type="submit">@exercise.Name </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
