@model IEnumerable<Core.Data.Entities.Student>
@{
    ViewData["Title"] = "Õpilased";
}
    <div class="row">
        <div class="col">
            <form asp-action="Index" method="get">
                <label style="margin-top: 10px">Õpilase nimi:</label>
                <input placeholder="Nimi" class="form-control " style="margin-bottom: 10px"name="name" type="text"/>
                <button style="margin-bottom: 10px" class="btn btn-primary">Otsi</button>
            </form>
        </div>
    </div>

    @*         <div class="col-sm"> *@
    @*             @foreach (var student in Model) *@
    @*             { *@
    @*                 <a asp-controller="Student" asp-action="Student" asp-route-id="@student.Id">@student.Name</a> *@
    @* *@
    @*                 <p>@student.StudentCardNumber</p> *@
    @*             } *@
    @*         </div> *@


<div class="row">
    <div class="col">
        <table id="example" class="table table-striped table-bordered nowrap" style="width: 100%">
            <thead>
            <tr>
                <th>Nimi</th>
                <th>Õpilasapileti nr</th>
                <th>Klass</th>
                <th>Tulemused</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Student" asp-action="AddStudent" asp-route-id="@student.Id">@student.Name</a>
                    </td>
                    <td>@student.StudentCardNumber</td>
                    <td>@student.SchoolClass.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Student" asp-action="StudentResult" asp-route-id="@student.Id">Vaata</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="col">
            <a class="btn btn-success" asp-controller="Student" asp-action="AddStudent">Lisa õpilane</a>
        </div>
    </div>
</div>