@model IEnumerable<Core.Data.Entities.Student>
@{
    ViewData["Title"] = "Õpilased";
}
<div class="row mb-4">
    <div class="col">
        <form asp-action="Index" method="get">
            <label>Õpilase nimi</label>
            <div class="form-row">
                <div class="col-lg">
                    <input placeholder="Nimi" class="form-control" name="name" type="text" />
                </div>
                <div class="col-lg-auto">
                    <button class="btn btn-wide btn-primary d-block mt-2 mt-lg-0">Otsi</button>
                </div>
                <div class="col-lg-auto">
                    <a class="btn btn-wide btn-secondary btn-icon mt-2 mt-lg-0" asp-controller="Student" asp-action="AddStudent">
                        <i class="material-icons mr-1">
                            add
                        </i>Lisa õpilane
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="list-borderless header row md-none">
    <div class="col-lg">Nimi</div>
    <div class="col-lg">Õpilaspileti nr</div>
    <div class="col-lg">Klass</div>
    <div class="col-lg-2">Tulemused</div>
</div>
@foreach (var student in Model)
{
    <div class="list-borderless list-row row">
        <div class="col-lg">
            <span class="md-show">Nimi</span>
            <a asp-controller="Student" asp-action="AddStudent" asp-route-id="@student.Id">@student.Name</a>
        </div>
        <div class="col-lg">
            <span class="md-show">Õpilaspileti nr</span>
            @student.StudentCardNumber
        </div>
        <div class="col-lg">
            <span class="md-show">Klass</span>
            @student.SchoolClass.Name
        </div>
        <div class="col-lg-2">
            <a class="btn btn-icon btn-wide btn-light-grey" asp-controller="Student" asp-action="StudentResult" asp-route-id="@student.Id">
                Vaata
                <i class="material-icons">
                    keyboard_arrow_right
                </i>
            </a>
        </div>
    </div>
}

